---
---

@import "{{ site.theme }}";

:root {
  --white-color: #fff;
	--d-color: #5B6C8C;
	--m-color: #DBE2F2;
	--l-color: #F2F6FF;
	--w-color: #5993FF;
}

body {
    background-color: var(--white-color);
}

.page-header {
  background-image: linear-gradient(var(--l-color), var(--l-color));
  text-align: right;
	color: var(--d-color);
}

.main-content {
    background-color: var(--white-color);
	padding-left: 250px;
}

ul {
	margin-bottom: 15px;
}

a {
	color: var(--w-color);
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    background-color: var(--m-color);
    /*transition: 1s;*/
    
    padding: 15px;
	padding-top: 65px;
}

#sidebar-bars {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 18px;
	visibility: hidden;
}

.sidebar:hover {
	left: 0px;
}

.toc-ref {
    font-size: 14px;
    padding: 10px;
	margin-bottom: 40px;
    color: var(--d-color);
}

.toc-ref:hover {
    text-decoration: none;
    margin-left: -10px;
    color: var(--w-color);
	transition: 0.5s;
}

.main-content h1, 
.main-content h2,
.main-content h3{
    color: #5B6C8C;
}

.answer {
	color: var(--white-color);
	background-color: var(--w-color);
	font-size: 16px;
    	font-weight: bold;
	padding: 20px;
}
/*
@media screen and (max-width: 1445px){
    .sidebar {
        left: -150px;
    }
	#sidebar-bars {
		visibility: visible;
	}
}
*/
.main-content code, .main-content pre {
	background-color: var(--l-color);
	border: solid 1px transparent;
}

.highlight {
	background-color: transparent;
}

.details,
.show,
.hide:target {
  display: none;
}
.hide:target + .show,
.hide:target ~ .details {
  display: inline-block;

}

.colapse {
	font-size: 1.17em;
}

/* View on pages */
#vop {
	display: none;
}

a.colapse {
	float: right;
}

.details {
    width: 100%;
}

summary {
	font-size: 1.17em;
	color: var(--w-color);
}